.divContainer {
    margin-left: 25px;
    background-color: rgb(4, 5, 71);
    color: white;
    padding: 10px;
    font-family: Arial;
    width: 30%;
}
.itemsList {
    margin-left: 25px;
    background-color: black;
    color: yellow;
    padding: 10px;
    font-family: Arial;
    width: 30%;
}